<main>
     <section class="amb-gal">
          <div class="centralizatexto">
               <h2>Ambientes</h2>
          </div>          
               <div class="img">
               <img src="~/img/amb1.png" title="ambiente1" />
               <img src="~/img/amb2.png" title="ambiente2" />              
               </div>

          <!--GALERIA-->
          <div class="centralizatexto">                        
          <h2>Galeria</h2>
          </div>                         
          <div class="img">
               <img src="~/img/gal1.jpg" title="gal1" />
               <img src="~/img/gal2.jpg" title="gal2" />
               <img src="~/img/gal3.jpg" title="gal3" /> 
               <img src="~/img/gal4.jpg" title="gal4" />
               <img src="~/img/gal5.png" title="gal5" /> 
               <img src="~/img/gal6.jpg" title="gal6" />                                           
          </div>  

          <div class="centralizatexto">                        
               <h2>Localização</h2>
               </div>                         
               <div class="img">
               <img src="~/img/local.jpg" title="local" />
               </div>  
     </section>
</main>